.search-container {
    box-sizing: border-box;
    padding: 1rem;
    text-align: center;
    width: 100%;
}

input {
    height: 2rem;
    border-radius: 1rem;
}

.search-bar {
    margin-right: 10px;
    padding: 0px 20px;
    width: min(20rem, 50vw);
    border: 1px solid steelblue;
    font-family: 'Comfortaa', cursive;
}

.search-btn {
    padding: 0 10px;
    background-color: steelblue;
    border: transparent;
    box-shadow: 2px 4px 6px -1px rgba(100,100,100,0.8);
    color: aliceblue;
    cursor: pointer;
    font-family: 'Comfortaa', cursive;
}

.search-btn:active {
    transform: scale(0.95);
}