/* ReposList Page */
.list-container {
    margin-bottom: 20px;
    flex-direction: column;
    text-align: center;
}
.page-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: 3rem;
    padding: 0 1rem;
    border-radius: 1.25rem;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 -1px 12px hsla(174, 12%, 15%, 0.15);
    transition: 0.2s linear;
    z-index: var(--z-tooltip);
}

.page-link:hover {
    transform: scale(1.1);
}

.card-container {
    margin: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

/* ReposPage */
.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    gap: 50px;
}

.single-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    padding: 15px;
    width: 450px;
    height: auto;
    border: 1.5px solid var(--body-color-trans);
    border-radius: 10px;
    box-shadow: 4px 4px 4px -1px rgba(100,100,100,0.8);
}

.single-reponame {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    color: var(--body-color-trans);
}

.data-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.lang {
    color: var(--body-color-trans);
    font-weight: 500;
    font-size: var(--h1-font-size);
}

.datas {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.watcher {
    display: flex;
    gap: 10px;
    color: var(--body-color-trans);
    font-weight: 500;
    font-size: var(--normal-font-size);
}

.watcher-icon {
    color: rgba(53, 53, 53, 0.8);
}

.repos-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 50px;
}

@media screen and (max-width:768px) {
    .single-page {
        padding: 10px;
        width: 80vw;
        height: auto;
        border: 1.5px solid var(--body-color-trans);
        border-radius: 10px;
        box-shadow: 4px 4px 4px -1px rgba(100,100,100,0.8);
    }
    .data-container {
        flex-direction: column;
    }
    .datas {
        flex-direction: row;
        justify-content: center;
    }
}

@media screen and (max-width:767px) {
    .datas {
        margin-top: 15px;
        flex-direction: column;
        align-items: center;
    }
}

/* Error page */

.error-page {
    flex-direction: column;
}