/* * {
    margin: 0;
} */

body {
    font-family: 'Comfortaa', cursive;
}

header {
    padding: 3rem;
}

h2 {
    margin: 0;
    padding: 2rem 5rem;
    /* background: steelblue; */
    color: rgb(80, 88, 88);
}