/* * {
    margin: 0;
} */

body {
    font-family: 'Comfortaa', cursive;
}

.title {
    display: flex;
    justify-content: center;
}

h2 {
    margin: 0;
    padding: 2rem 5rem;
    text-align: center;
    width: max-content;
    color: rgb(80, 88, 88);
}